# 2019-2020-WebDev-WorkProject

<h1 align="center">
  <br>
  <img src="img/gg1.jpg"  width="1100">
  <br>
  Development Technologies 
  <br>
</h1>



<p align="center">
  <img width="75px" hspace="20" src="https://cdn-icons-png.flaticon.com/512/470/470667.png"  />
  <img width="75px" hspace="20" src="https://cdn-icons-png.flaticon.com/512/1199/1199124.png"  />
  <img width="75px" hspace="20" src="https://cdn-icons-png.flaticon.com/512/288/288882.png" />
  
  
</p>

<p align="center">
  <a href="#About">About</a> •
  <a href="#Credit">Credit</a> •
  <a href="#Screen">Screen Samples</a> •

</p>

## About

It consists of two Projects:
* First Project (Davin shop) is an Online clothing shop alongside an admin panel that includes systems like seasonal discounts, loyalty programs, and prizes.
* Second Project (Vardast) is similar to uber ideology but for services (cleaning, carpenter, plumbing, etc.) which consists of a web & phone app, admin panel, experts panel, and app. This project includes features like priority and pointing systems. 

  

    
> **Note**
> On both Projects, I did not do the graphic design of pictures + HTML and CSS design.


## Credit
Graphic design of pictures + HTML and CSS design : Mrs.Far 
<p></p>
This software uses the following open source packages:
<p></p>
See requirements.txt

## Screen 

<img src="img/gg2.jpg"  width="1100">
<p align="center">
<img src="img/gg3.jpeg" width="400" >
<img src="img/gg4.jpeg" width="400" >
</>
<p align="center">
<img src="img/gg5.png"  width="400">
<img src="img/gg6.png"  width="400">
</>

---

> Website(https://) -
> GitHub (https://github.com/Marshi00) - 
> Linkedin (https:)