{% extends('layout/layout.html') %}



{% block header %} 

	<a href="{{ url_for('projects') }}" class="button horizontal-shaking">My Projects</a>

{% endblock %}

{% block content %} 
	<section id="banner">
		<header id="header-top-banner">
			<div style="font-family: 'Sacramento', cursive; font-size: 3.625rem; font-weight: normal;">I'm Mohammad</div>
			<div style="font-family: 'Sacramento', cursive; font-size: 3.625rem;">Data Enthusiast &nbsp;&bull;&nbsp; Programmer &nbsp;&bull;&nbsp; A Continuous Learner</div>
			<nav>
				<ul>
					<li onclick="snackbar('Currently i dont have Twitter account, but i will soon...')"><a  class="social-icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.linkedin.com/in/m-arshian-7516901a2/" class="social-icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
					<li onclick="snackbar('Currently i dont have dribbble account, but i will soon...')"> <a  class="social-icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="https://github.com/Marshi00" class="social-icon brands fa-github"><span class="label">Github</span></a></li>
					<li><a href="mailto:Marshian0048@outlook.com" class="social-icon solid fa-envelope"><span class="label">Email</span></a></li>

				</ul>
			</nav>
		</header>
	</section>

	<section id="wrapper">

		<!-- One -->
			<section id="one" class="wrapper spotlight style1">
				<div class="inner">
					<a href="#" class="image"><img src="static/images/pic01.jpg" alt="" /></a>
					<div class="content">
						<h2 class="major">Data Acquisition systems Integration</h2>
						<p align="justify"> I have honed my collaboration and communication skills by working with region and municipality representatives to integrate and provide solutions for different projects based on their unique requirements.As an experienced SCADA systems integration specialist, I have developed reporting software for monitoring and data collection from industrial field devices like pumps, filters, and transmitters. My expertise in control software enables me to design and deploy efficient solutions for water and wastewater processing that monitor key attributes such as turbidity, PH, and chlorine levels in water. Leveraging my knowledge of SCADA systems integration, I can deliver effective solutions that meet clients' needs while adhering to industry standards and best practices.</p>
						<!-- <a href="#" class="special">Learn more</a> -->
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper alt spotlight style2">
				<div class="inner">
					<a href="#" class="image"><img src="static/images/pic02.jpg" alt="" /></a>
					<div class="content">
						<h2 class="major">Microsoft Azure </h2>
						<p align="justify">As an aspiring cloud technology professional, I have gained a solid understanding of various Microsoft Azure cloud technologies, such as Synapse, Data Factory, Data Lakes, Warehouses, Databricks, Azure SQL DB, Azure Postgres, Gen 2 Blob Storage accounts, and Spark. With my knowledge and hands-on experience, I can create efficient and scalable data solutions that meet business needs.</p>
						<!-- <a href="#" class="special">Learn more</a> -->
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper spotlight style3">
				<div class="inner">
					<a href="#" class="image"><img src="static/images/pic03.jpg" alt="" /></a>
					<div class="content">
						<h2 class="major">Data Engineering </h2>
						<p align="justify"> Proficient in Python programming and libraries like pandas and SQL, I have experience in ETL processes and data modeling for SQL databases. I am also familiar with NoSQL databases and have knowledge of cloud computing, specifically in Azure, as well as big data technologies such as Spark. With a strong understanding of data warehousing and ETL/ELT processes, I am equipped to deliver effective solutions that adhere to industry standards and best practices.</p>
						<!--  <a href="#" class="special">Learn more</a> -->
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper alt style1">
				<div class="inner">
					<h2 class="major">Work Experience & Projects </h2>
					<p align="justify"> This section showcases my professional background, featuring a selection of projects and work experiences that demonstrate my skills and expertise. By examining these examples, you will gain insight into my problem-solving abilities, as well as my approach to collaboration and project management. </p>
					<section class="features">
						<article>
							<a  class="image"><img src="static/images/pic04.jpg" alt="" /></a>
							<h3 class="major">WSP Canada Inc </h3>
							<p align="justify"> City of Orangeville: Reporting and Data Collection System for Water Treatment Plant.</p>
							<p align="justify"> Municipality of Port Hope: Data Acquisition and Control System for Water and Wastewater Treatment Plant.</p>
							<p align="justify"> Regional Municipality of Niagara: Data Acquisition and Control System for Water and Wastewater Treatment Plant.</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
						<article>
							<a  class="image"><img src="static/images/pic05.jpg" alt="" /></a>
							<h3 class="major">Linamar Corporation Canada</h3>
							<p align="justify"> Automation Programming: Upgrading the Current Smart Grading Vision System on SR-2000 Barcode Grading Camera and Achieving the Highest Possible Grading.</p>
							<p align="justify">Upgraded and optimized the smart grading vision system on the SR-2000 barcode grading camera by modifying the cyclic communication between the PLC and the camera. Implemented a retry process on the ABB material handling robot to achieve the highest possible grading by allowing up to 3 retries on different settings such as angles, lighting, and lens enclosure.</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
						<article>
							<a  class="image"><img src="static/images/pic06.jpg" alt="" /></a>
							<h3 class="major">Trexo Robotics Canada</h3>
							<p align="justify"> Software Tester: Utilized Ubuntu Linux command line to perform software testing, implemented ROS software on hardware.</p>
							<p align="justify"> Utilized Ubuntu Linux command line to perform software testing, implemented ROS software on hardware, and registered Trexo Devices on Freedom Robotics and Remote IoT. Conducted safety tests and recorded functionality to ensure efficiency, reliability, and security. Enhanced device capabilities and advanced technological innovations.</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
						<article>
							<a  class="image"><img src="static/images/pic07.jpg" alt="" /></a>
							<h3 class="major">Freelancer</h3>
							<p align="justify">Web Design: Back-End programming and Front-End Modifications for Web Design Projects.</p>
							<p align="justify">Back-End programming and Front-End of multiple projects , such as an online clothing shop (Davin Shop) with an admin panel that included seasonal discounts, loyalty programs, and prizes. Also contributed to the development of a services app (Vardast) that included a web and phone application, admin panel, and expert panel, with optimized functionality and user experience through implementation of priority and pointing systems. Ensured adherence to industry standards and best practices to deliver high-quality projects.</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
					</section>
					<!--<ul class="actions">
						<li><a href="#" class="button">Browse All</a></li>
					</ul>
					-->
				</div>
			</section>

	</section>

	
{% endblock %}