{% extends('layout/layout.html') %}



{% block header %} 

	<a href="{{ url_for('index') }}" class="button horizontal-shaking">Home</a>

{% endblock %}

{% block content %} 
<div class="center-item">
	<div>
		<h1>My Projects</h1>

	</div>
</div>

<section id="footer">
	<div class="inner" style="padding-top: 30px;">
		 <div>
		<p align="justify">Welcome to my project showcase! This section is where I feature some of the exciting projects I've worked on, from personal passion projects to professional collaborations. Each project comes with a brief description and showcases the skills and knowledge I've gained through my experience. I hope you enjoy browsing through my work and learning more about my approach to project development.</p>
		</div>
		<div>
			<h2>2023.2</h2>
			<hr class="split-desc-and-img">
			<br>

			<div class="row justify-content-between items m-0">
				<!-- <div class="loading-indicator"></div> -->
				<div class="col-auto row mt-5 item justify-content-between m-0 p-0 " onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<!-- <div class="label-type">On progress</div> -->
							<div>
								<img src="static/images/gg8.jpg" class="image-item " alt="">
							</div>
							<div class="center-title">
								<h3><br>Azure Factory Automated Pipe  </h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/azuredatafactory.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/sql.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/azuresynapseanalytics.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/Azure.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/azuredatalakestorage.jpg" alt="" class="img-development-technology">
								<img src="static/images/technologies/azureDatawarhouse.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">Purpose : 
									The goal of this project is to develop a Automated Pipeline solution using Azure Data Factory.
									Bussiness Requirements :
										1_Analyzing how the City's financial resources are allocated and how much of the City's budget is being devoted to overtime.
										2_Making the data available to the interested public to show how the City’s budget is being spent on salary and overtime pay for all municipal employees.
										3_Analytics per year groups
										4_Analytics per Agency & payments ...

								</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2023-AzureFactory-AutomatedPipe" target="_blank" class="glow-on-hover"  >Click for Source Code</a>
						</div>
					</div>
				</div>



			</div>

		</div>
		<div>
			<h2>2023</h2>
			<hr class="split-desc-and-img">
			<br>
			
			<div class="row justify-content-between items m-0">
				<!-- <div class="loading-indicator"></div> -->
				<div class="col-auto row mt-5 item justify-content-between m-0 p-0 " onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<div class="label-type">Work</div>
							<div>
								<img src="static/images/pic02.jpg" class="image-item " alt="">
							</div>
							<div class="center-title">
								<h3><br>IoT Data Acquisition and Reporting  </h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/python.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/pandas.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/plc.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/iot_comms.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/mysql.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">Purpose : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti reiciendis porro id eaque, aperiam quidem inventore rem enim quam veniam ipsam excepturi odio facilis amet dolor consequuntur magni quo! Blanditiis.</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/IOT-DATA-ACQUISITION--REPORTING" target="_blank" class="glow-on-hover"  >Click for Source Code</a>
						</div>
					</div>
				</div>

				<div class="col-auto row mt-5 item justify-content-between m-0 p-0 " onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<!-- <div class="label-type">On progress</div> -->
							<div>
								<img src="static/images/gg10.jpg" class="image-item " alt="">
							</div>
							<div class="center-title">
								<h3><br> Azure Synapse Data Warehouse</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/python.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/pandas.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/azuresynapseanalytics.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/posteg.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/Azure.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/azure_blob_storage.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">Purpose : 
									The goal of this project is to develop a data warehouse solution using Azure Synapse Analytics. Bussiness Requirements :

									1_Time-sensitive reports for trips
									2_Time-sensitive reports for payments
									3_Analytics per individuals and age groups
									4_Analytics per individual trips and payments...

								</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2023-AzureSynapse-SQLPool-Warehouse" target="_blank" class="glow-on-hover"  >Click for Source Code</a>
						</div>
					</div>
				</div>


				<div class="col-auto row mt-5 item justify-content-between m-0 p-0 " onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<!-- <div class="label-type">On progress</div> -->
							<div>
								<img src="static/images/gg9.jpg" class="image-item " alt="">
							</div>
							<div class="center-title">
								<h3><br>Azure Databricks DeltaLake Spark</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/python.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/pandas.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/databrick.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/Azure.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/apachespark.png" alt="" class="img-development-technology">
							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">Purpose : 
									The goal of this project is to develop a Delta Lake solution using Azure Databricks. Bussiness Requirements :
									1_Time-sensitive reports for trips
									2_Time-sensitive reports for payments
									3_Analytics per individuals and age groups
									4_Analytics per individual trips and payments...
								</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2023-AzureDataBricks--DeltaLake-Spark" target="_blank" class="glow-on-hover"  >Click for Source Code</a>
						</div>
					</div>
				</div>

			</div>
	
		</div>
		<div>
			<h2>2022</h2>
			<hr class="split-desc-and-img">
			<br>
			
			<div class="row justify-content-between items m-0">
				<!-- <div class="loading-indicator"></div> -->
				<div class="col-auto row mt-5 item justify-content-between m-0 p-0" onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<div class="label-type">Work</div>
							<img src="static/images/gg7.jpg" class="image-item " alt="">
							<div class="center-title">
								<h3><br>Pandas Frame<br>Manipulation</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/python.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/pandas.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/javascript.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/mysql.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/no_idea_what_is_this.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/flask.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">The Initial Purpose of the project was to automate part of my job to spend more time learning new technologies, but it provided more value as it reduced the life cycle of each project between 2-6 weeks (depending on the project). Sequentially, it allowed the department to win more projects from the city of Toronto and the region by bidding 5 to 10 percent lower on the projects.</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2022-Automation-PandasFrameManipulation-WorkProject" target="_blank" class="glow-on-hover" >Click for Source Code</a>
						</div>
					</div>
				</div>

				<div class="col-auto row mt-5 item justify-content-between m-0 p-0 " onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<!-- <div class="label-type">On progress</div> -->
							<div>
								<img src="static/images/cass.jpg" class="image-item " alt="">
							</div>
							<div class="center-title">
								<h3><br>Apache Cassandra DataModeling ETL</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/python.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/pandas.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/jupyter.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/cassandara.jpeg" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">Purpose : 
									Model & Denormalize the DB for the Needed Queries , Optimizing for Fast, Responsive Reads ETL pipeline that transfers data from a set of CSV files within a directory to create a streamlined CSV file to model and insert data into Apache Cassandra tables.

									1_processing the dataset to create a denormalized it for
									2_modeling the data tables keeping in mind the queries
									3_provided queries that will need to model data tables for
									4_loading the data into tables you create in Apache Cassandra and run your queries & test...

								</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2022-ApacheCassandra-ETL-DataModeling" target="_blank" class="glow-on-hover"  >Click for Source Code</a>
						</div>
					</div>
				</div>


				<div class="col-auto row mt-5 item justify-content-between m-0 p-0" onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<!-- <div class="label-type">Work</div> -->
							<img src="static/images/gg6.jpg" class="image-item " alt="">
							<div class="center-title">
								<h3><br>Pandas<br>Visualization</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/python.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/pandas.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/jupyter.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">This project aimed to achieve proficiency and a certain level of comfort working with the Pandas framework and different data sets. It gradually starts with basics from day 71 to a more advanced level till day 79. It involves advance level of manipulation of time series data and occurrence representation to visualization with different tools.	</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2021-Pandas-Visualization-Exploration" target="_blank" class="glow-on-hover" >Click for Source Code</a>
						</div>
					</div>
				</div>

			</div>
	
		</div>
		<div>
			<h2>2021</h2>
			<hr class="split-desc-and-img">
			<br>
			
			<div class="row justify-content-between items m-0">
				<!-- <div class="loading-indicator"></div> -->
				<div class="col-auto row mt-5 item justify-content-between m-0 p-0" onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
						<!-- <div class="label-type">Work</div> -->
						<img src="static/images/gg5.jpg" class="image-item " alt="">
						<div class="center-title">
							<h3><br>PostgreSQL<br>Data Analytic</h3>
						</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/python.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/pandas.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/jupyter.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/posteg.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify">This project aimed to achieve higher proficiency with SQL and the ability to clean and manipulate data via SQL itself.</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2021-PostgreSQL-DataAnalytics-Cleaning-Manipulation" target="_blank" class="glow-on-hover" >Click for Source Code</a>
						</div>
					</div>
				</div>



			</div>
	
		</div>

		
		<div>
			<h2>2020</h2>
			<hr class="split-desc-and-img">
			<br>
			<div class="row justify-content-between items m-0">
				<!-- <div class="loading-indicator"></div> -->
				<div class="col-auto row mt-5 item justify-content-between m-0 p-0" onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<div class="label-type">Work</div>
							<img src="static/images/gg1.jpg" class="image-item " alt="">
							<div class="center-title">
								<h3><br>Web<br>Development</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/php.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/javascript.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/mysql.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify"> An online clothing shop (Davin Shop) with an admin panel that included seasonal discounts, loyalty programs, and prizes.</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2019-2020-WebDev-WorkProject" target="_blank" class="glow-on-hover" >Click for Source Code</a>
						</div>
					</div>
				</div>

				<div class="col-auto row mt-5 item justify-content-between m-0 p-0" onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<div class="label-type">Work</div>
							<img src="static/images/gg2.jpg" class="image-item " alt="">
							<div class="center-title">
								<h3><br>Web<br>Development</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/php.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/javascript.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/mysql.png" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify"> Services app (Vardast) that included a web and phone application, admin panel, and expert panel, with optimized functionality and user experience through implementation of priority and pointing systems.</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2019-2020-WebDev-WorkProject" target="_blank" class="glow-on-hover" >Click for Source Code</a>
						</div>
					</div>
				</div>


				<div class="col-auto row mt-5 item justify-content-between m-0 p-0" onclick="triggerChanges(this)">
					<div class="floating col-auto text-center order-2 m-0 p-0">
							<!-- <div class="label-type">Work</div> -->
							<img src="static/images/gg4.PNG" class="image-item " alt="">
							<div class="center-title">
								<h3><br>TCP-IP Data <br> communication<br>Industrial Screens</h3>
							</div>
					</div>
					<div class="detail-item col-8 p-0 m-0">
						<div class="detail-item-technologies">
							<div>
								<span class="text-technologies">Development technologies : </span>
							</div>

							&nbsp;
							&nbsp;

							<div>
								<img src="static/images/technologies/plc.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/wireshark.png" alt="" class="img-development-technology">
								<img src="static/images/technologies/visualbasic.jpeg" alt="" class="img-development-technology">

							</div>
						</div>

						<div>
							<hr class="hr_seperate_technologies">
						</div>

						<div class="row" >
							<div class="col-auto img-cat mt-5">
								<div class="cat">
									<div class="ear ear--left"></div>
									<div class="ear ear--right"></div>
									<div class="face">
										<div class="eye eye--left">
											<div class="eye-pupil"></div>
										</div>
										<div class="eye eye--right">
											<div class="eye-pupil"></div>
										</div>
										<div class="muzzle"></div>
									</div>
								</div>
							</div>
							<div class="col">
								<p align="justify"> It aims to improve and learn industrial Screen applications and the Data communication(TCP/IP) protocol used in Industrial settings.</p>
							</div>
						</div>

						<div class="mt-1">
							<a href="https://github.com/Marshi00/2020-Data-communication-TCP-IP--Industrial-Screens-VB.Net" target="_blank" class="glow-on-hover" >Click for Source Code</a>
						</div>
					</div>
				</div>
				

			</div>
	
		</div>
		
		<script>

			function triggerChanges(item){

				var detailItem = item.lastElementChild;
				var mainParentItems = item.parentElement;
				var loadingIndicator = mainParentItems.firstElementChild;

				var restOfProjects = [] ;
				var allOfProjects = [];

				// get all of projects except the clicked one
				[...mainParentItems.children].forEach(function(element){
					if(element.classList.contains('item') && item != element){
						restOfProjects.push(element);
					}
				});

				allOfProjects.push(item);
				allOfProjects.push(...restOfProjects);
				
				// check if the current item is opened or not
				var isChangesTriggered = detailItem.classList.contains('show-detail-item') ? true : false;

				if(allOfProjects.length == 1){

					if(isChangesTriggered == true){
						item.classList.add('vissually-hidden'); 

						item.addEventListener('transitionend', function(e) {
							item.lastElementChild.classList.remove('show-detail-item');
							item.lastElementChild.classList.remove('show-detail-item-visually');
						}, {
							capture: false,
							once: true,
							passive: false
						});
				
					}else{
						var offsetRight = window.innerWidth - item.getBoundingClientRect().right - item.offsetWidth;
						item.style.transform = 'translateX(' + offsetRight.toString() + 'px)';
					}
				}else{

					allOfProjects.forEach(element => {
				
						if(element != item || isChangesTriggered == true){
							element.classList.add('vissually-hidden'); 
						}
					
						element.addEventListener('transitionend', function(e) {

							element.lastElementChild.classList.remove('show-detail-item');
							element.lastElementChild.classList.remove('show-detail-item-visually');

							if(element != item ){
								element.classList.add('hide-item');
								element.remove();
							}

							if(element != item ){
								var offsetRight = window.innerWidth - item.getBoundingClientRect().right - item.offsetWidth;
								// var offsetRight = window.innerWidth - item.getBoundingClientRect().right - item.getBoundingClientRect().width;
								console.log(offsetRight);
								// var offsetRight = item.getBoundingClientRect().width * numberItemsInRow;
								item.style.transform = 'translateX(' + offsetRight.toString() + 'px)';
							}

						}, {
							capture: false,
							once: true,
							passive: false
						});
					
					});
				}
				
			
				setTimeout(async function(){

					allOfProjects.forEach(element => {
						mainParentItems.appendChild(element);

						element.classList.remove('hide-item');  

						setTimeout(function () {
							element.classList.remove('vissually-hidden');  

						}, 20);
						
					});

					// item.classList.remove('change-item-direction');
					item.style.transform = 'translateX(0px)';

					if(isChangesTriggered == false){// check if the item clicked when it was closed

						detailItem.classList.add('show-detail-item');

						setTimeout(function () {
							detailItem.classList.add('show-detail-item-visually');
						}, 200);

						isChangesTriggered = true;

					}else{ // check if item clicked when its opened
						
						detailItem.classList.remove('show-detail-item');

						isChangesTriggered = false;
					}
					
				},700);
			
			}
		</script>
	</div>
</section>

{% endblock %}

